* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 60px;
}

header .top-logo {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

header nav {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.main-landing {
    background: #B1CDFF;
    height: 1080px;
    display: flex;
    justify-content: center;
}

.main-landing .wrap-title {
    align-self: center;
}

.main-landing .wrap-title .title {
    font-size: 35px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.main-landing .wrap-title .sub-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.main-landing .wrap-bubble {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 1);
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

.wrap-about {
    background: #81A7EB;
    height: 1080px;
    display: flex;
    flex-direction: column;
}

.wrap-about .title-area {
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.wrap-about .about-title {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    align-self: center;
}
.wrap-about .about-title + .about-title {
    margin-top: 4px;
}

.wrap-about .about-list {
    display: flex;
    justify-content: center;
}

footer {
    height: 100px;
    background: #23379C;
    display: flex;
    justify-content: space-between;
}

footer .footer-copy {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    align-self: center;
    padding-left: 40px;
}

footer .footer-logo {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    align-self: center;
}

footer .footer-sns {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    padding-right: 40px;
    color: rgba(255, 255, 255, 0.6);
}